// variables
$color: #dab05d;
$yellow: #f7d315;
$red: #a21919;
$dark: #333;

$font: "Montserrat", "Calibri", sans-serif;

@import "header";
@import "page";
@import "intro";
@import "about";
@import "features";
@import "course";
@import "contacts";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff"), url("../fonts/Roboto-Light.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff"),
    url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff"),
    url("../fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff"), url("../fonts/Roboto-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: $font;
  font-size: 16px;
  color: #fff;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
