body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  color: #fff;
}
.page__section {
  margin: 0 auto;
}

.page__section_2 {
  background-color: #fff;
  color: #000;
}

