body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  color: #fff;
}
.page__section {
  margin: 0 auto;
  padding: 60px 0 30px;
}

.page__title {
  position: relative;
  font-size: calc(20px + 20 * (100vw / 1920));
  margin-bottom: 10px;
  &::after {
    margin-left: 100px;
    content: "";
    width: 100px;
    height: 2px;
    background-color: $color;
    position: absolute;
    left: 18%;
    bottom: 50%;
    transform: translate(-50%);
  }
}
