body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  color: #fff;
  overflow: hidden;
}
.page__section {
  margin: 0 auto;
  padding: 50px 0 20px;
}

.page__title {
  text-transform: uppercase;
  position: relative;
  font-size: calc(20px + 20 * (100vw / 1920));
  margin-bottom: 10px;

  &::after {
    content: "";
    border-bottom: 2px solid $color;
    width: 80px;
    height: 1px;
    position: absolute;
    top: 50%;
    margin-left: 16px;
  }
}
